<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>directives-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">directives-page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!--Boton que suma 5 en 5-->
    <ion-button (click)="incrementar()">Sumar</ion-button>
    <ion-label>Contador: {{ contador }}</ion-label>

    <ion-item *ngIf="contador >=65">
      Felicidades, aprobaste la clase Desarrollo Movil 2
    </ion-item>

    <!--lista con 5 ciudades-->

    <ion-list>
      <ion-item *ngFor="let item of cities">
        {{ item}}
      </ion-item>
    </ion-list>


    <ion-item>
      <ion-label>RTN: </ion-label>
      <ion-input type="text" [(ngModel)]="rtn"></ion-input>
    </ion-item>
    <ion-label>RTN: {{ rtn }}</ion-label>

    <div [ngClass]="valor >= 65.5 ? 'aprobado' : 'reprobado'">
      <ion-label>Nota: {{ valor }}</ion-label>
    </div>


    <ion-label [ngStyle]="{'color': colorTexto}">
      Este texto es de color hexadecimal personalizado
    </ion-label>

    <div [ngSwitch]="colorButton">
      <ion-button *ngSwitchCase="'primary'" color="primary">Color Primary</ion-button>
      <ion-button *ngSwitchCase="'dark'" color="dark">Color Dark</ion-button>
      <ion-button *ngSwitchCase="'warning'" color="warning">Color warning</ion-button>
      <ion-button *ngSwitchDefault color="medium">Color desconocido</ion-button>
    </div>

    <button appCustomStyle>
      Current
    </button>


  </div>
</ion-content>
